---
import Layout from '@layouts/Layout.astro';
import Icon from '@components/Icon.astro';
import { Tooltips } from 'astro-tooltips';

const randomInt = (min: number, max: number) =>
	Math.floor(Math.random() * (max - min + 1)) + min;

const genRandomPrettyColor = () =>
	`hsl(${randomInt(0, 360)},${randomInt(42, 98)}%,${randomInt(40, 90)}%)`;

const textGradient = `45deg, ${genRandomPrettyColor()} -20%, ${genRandomPrettyColor()} 50%`;

---

<Layout
	title="React Typescript Senior Web Developer | aandre.gg"
	description='Hello, I am Andre, always happy to help with any interesting projects!, let me know. I specialize in React, Typescript, NodeJS and GraphQL'
>
	<main>
		<div class="outter flex my-0 mx-auto gap-4">
			<section>
				<div class="logo-container" style={{background: `linear-gradient(${textGradient})`}}>
					<img class="logo" src="/logo-type.svg" alt="logo-type" width="40px" height="40px"/>
				</div>
				<p class="header-context pt-4">Hi, I'm</p>
				<hgroup>
					<h1 class="font-semibold">Andre <br/> Kuznetcov</h1>
					<h3 class='header-context'>I write code and think about solutions.  👋</h3>
				</hgroup>
				<p class='content pt-8'>I am currently a Full Stack Web Developer on a small team from Santa Monica trying to help humans with AI.</p>
				<p class='content flex'>Check us out: <a class='rosebud-link pl-4' href="https://my.rosebudjournal.com" rel="noreferrer noopener" target="_blank"><Icon icon="rosebud"/> Rosebud
					</a>
				</p>
			</section>
			<section class="inner-links">
				<a href='/Andre_Kuznetcov_resume_2023.pdf' class="resume-link" download>📖 My resume</a>
				<div class="flex gap-2 justify-end">
					<a href='https://www.linkedin.com/in/andrewebdev' rel="noreferrer noopener">
						<Icon icon="linkedin"/>
					</a>
					<a href='https://github.com/KatFishSnake' rel="noreferrer noopener">
						<Icon icon="github"/>
					</a>
				</div>
				<div class="flex gap-2">
					<span title='<p>Email me!</br> </br> <code>andre [dot] kuzac [at] gmail</code></p>' data-tooltip-interactive="top" class="inner-link-message">
						<Icon icon="message"/>
					</span>
				</div>
			</section>
		</div>
	</main>
	<footer class='fixed bottom-0 w-full text-center text-gray-300 font-light'>Andre Kuznetcov © 2023</footer>
</Layout>

<script>
const resumeLinkBtn = document.querySelector('a.resume-link');
resumeLinkBtn.addEventListener('click', () => {
	// Dispatch gtag event to track resume downloads
	window.gtag('event', 'download_resume');
});
</script>

<style>
	main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
    align-items: center;
		width: 100%;
	}

	body {
		font-family: 'Changa', sans-serif;
	}

	h1 {
		line-height: 0.8;
		font-size: 72px !important;
	}

	.header-context {
		font-size: 24px;
	}

	.outter {
		max-width: 700px;
	}

	.inner-links {
		display: flex;
		flex-direction: column;
		min-width: 150px;
	}

	.logo {
		width: 40px;
	}
	.logo-container {
		width: 40px;
		height: 40px;
	}

	.resume-link {
		color: black;
		text-decoration: none;
		font-size: 24px;
	}

	.resume-link:hover {
		text-decoration: underline;
	}

	.inner-links > div {
		justify-content: right;
	}

	.inner-links a:not(.resume-link), .inner-links span:not(.resume-link) {
		color: #00A4D8;
		text-decoration: none;
	}
	
	.inner-links a:not(.resume-link):hover {
		color: #8cd1e9;
	}

	.inner-links svg {
		width: 42px;
	}

	.inner-links .inner-link-message svg {
    padding-top: 10px;
    padding-right: 3px;
    width: 36px;
    box-sizing: content-box;
	}

	.content {
		font-family: 'Space Grotesk', sans-serif;
		font-size: 20px;
	}

	.rosebud-link {
		display: flex;
    gap: 4px;
		text-decoration: underline;
	}

	@media (max-width: 700px) {
		.outter {
			flex-direction: column;
			align-items: flex-start;
			padding: 0 20px;
		}

		.inner-links {
			margin-top: 20px;
		}
		.resume-link {
			margin-bottom: 10px;
		}

		.inner-links svg {
			width: 56px;
		}

		.inner-links .inner-link-message svg {
			padding-top: 10px;
			padding-left: 7px;
			width: 45px;
		}

		.inner-links > div {
			justify-content: left;
		}
	}
</style>

