---
import Layout from '../layouts/Layout.astro';

const randomInt = (min: number, max: number) =>
		Math.floor(Math.random() * (max - min + 1)) + min;
	
	const genRandomPrettyColor = () =>
		`hsl(${randomInt(0, 360)},${randomInt(42, 98)}%,${randomInt(40, 90)}%)`;
	
	const textGradient = `45deg, ${genRandomPrettyColor()} -20%, ${genRandomPrettyColor()} 50%`;
---

<Layout title="Welcome to aandre.gg">
	<main>
		<div class="outter">
			<div class="inner-copy">
				<div class="logo-container" style={{background: `linear-gradient(${textGradient})`}}>
					<img class="logo" src="/logo-type.svg" alt="logo-type" />
				</div>
				<p>Hi, I'm</p>
				<h1>Andre <br/> Kuzac</h1>
				<p>I write code and think about solutions.  👋</p>
			</div>
			<!-- <div class="inner-links">
				<a href='/'>📖 My resume</a>
				<a href='/'><img src='/linkedin.svg' alt='linkedin-logo'/></a>
				<a href='/'><img src='/github.svg' alt='github-logo'/></a>
			</div> -->
		</div>
	</main>
</Layout>

<style>
	main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
    align-items: center;
		width: 100%;
	}

	h1, p {
		font-family: 'Changa', sans-serif;
		margin: 0;
	}

	h1 {
		line-height: 0.8;
		font-size: 72px;
	}

	p {
		font-size: 24px;
	}

	.outter {
		max-width: 680px;
		display: flex;
		margin: 0 auto;
	}

	.inner-copy {

	}

	.inner-links {
		display: flex;
		flex-direction: column;
	}

	.logo {
		width: 40px;
	}
	.logo-container {
		width: 40px;
		height: 40px;
	}
</style>

